@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
      sans-serif;
  }

  body {
    @apply bg-bg text-text-body scroll-smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-text-heading font-bold;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

@layer utilities {
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}
